<section class="content">
  <h1>Buttons</h1>
  <ul class="buttons">
    <li>主要按钮</li>
    <button ky-button>default</button>
    <li>
      <button class="btn btn-primary">不忘初心</button>
    </li>
    <li>
      <button class="btn btn-primary">方得始终</button>
    </li>
    <li>
      <button class="btn btn-disable">初心易得，始终难守</button>
    </li>
  </ul>
  <ul class="buttons">
    <li>次要按钮</li>
    <li>
      <button class="btn">不忘初心</button>
    </li>
    <li>
      <button class="btn">方得始终</button>
    </li>
    <li>
      <button class="btn btn-disable">初心易得，始终难守</button>
    </li>
  </ul>
  <ul class="buttons">
    <li>危险按钮</li>
    <li>
      <button class="btn btn-danger">不忘初心</button>
    </li>
    <li>
      <button class="btn btn-danger">方得始终</button>
    </li>
    <li>
      <button class="btn btn-disable">初心易得，始终难守</button>
    </li>
  </ul>
  <ul class="buttons">
    <li>虚线按钮</li>
    <li>
      <button class="btn btn-dashed">不忘初心</button>
    </li>
    <li>
      <button class="btn btn-dashed">方得始终</button>
    </li>
    <li>
      <button class="btn btn-disable">初心易得，始终难守</button>
    </li>
  </ul>
</section>

