.buttons {
  margin-top: 20px;
}

.buttons li {
  list-style: none;
  display: inline-block;
  margin-right: 8px
}

.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  padding: 10px 15px;
  user-select: none;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px #d9d9d9 solid;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #108ee9;
  border-color: #108ee9;
}

.btn-primary:focus,.btn-primary:hover {
  color: #fff;
  background-color: #49a9ee;
  border-color: #49a9ee;
  box-shadow: 0 1px 10px 0 rgba(230,234,238,1); position: relative; transition:all 0.3s ease 0s;
}

.btn-dashed {
  border: dashed 1px #d9d9d9;
}

.btn-dashed:focus,.btn-dashed:hover {
  color: #108ee9;
  background-color: #fff;
  border-color: #108ee9;
  box-shadow: 0 1px 10px 0 rgba(230,234,238,1); position: relative; transition:all 0.3s ease 0s;
}

.btn-danger {
  color: #f04134;
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}

.btn-danger:focus,.btn-danger:hover {
  color: #fff;
  background-color: #f04134;
  box-shadow: 0 1px 10px 0 rgba(230,234,238,1); position: relative; transition:all 0.3s ease 0s;
}

.btn-disable,.btn-disable:active {
  background-color: #f7f7f7;
  border: 0px;
  cursor: not-allowed;
}

.btn-disable,.btn-disable:focus {
  background-color: #f7f7f7;
  border: 0px;
  cursor: not-allowed;
}
