<section class="content">
  <h1>Buttons</h1>
  <ul class="buttons">
    <li>小按钮</li>
    <li>
      <button nk-button [nkType]="'default'" [nkSize]="'small'">default</button>
    </li>
    <li>
      <button nk-button [nkType]="'primary'" [nkSize]="'small'">primary</button>
    </li>
    <li>
      <button nk-button [nkType]="'danger'" [nkSize]="'small'">danger</button>
    </li>
    <li>
      <button nk-button [nkType]="'dashed'" [nkSize]="'small'">dashed</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">disabled</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">
        <i class="iconfont icon-duihao"></i><span>icon-disabled</span>
      </button>
    </li>
  </ul>
  <ul class="buttons">
    <li>中按钮</li>
    <li>
      <button nk-button [nkType]="'default'" [nkSize]="'default'">default</button>
    </li>
    <li>
      <button nk-button [nkType]="'primary'" [nkSize]="'default'">primary</button>
    </li>
    <li>
      <button nk-button [nkType]="'danger'" [nkSize]="'default'">danger</button>
    </li>
    <li>
      <button nk-button [nkType]="'dashed'" [nkSize]="'default'">dashed</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">disabled</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">
        <i class="iconfont icon-duihao"></i><span>icon-disabled</span>
      </button>
    </li>
  </ul>
  <ul class="buttons">
    <li>大按钮</li>
    <li>
      <button nk-button [nkType]="'default'" [nkSize]="'large'">default</button>
    </li>
    <li>
      <button nk-button [nkType]="'primary'" [nkSize]="'large'">primary</button>
    </li>
    <li>
      <button nk-button [nkType]="'danger'" [nkSize]="'large'">danger</button>
    </li>
    <li>
      <button nk-button [nkType]="'dashed'" [nkSize]="'large'">dashed</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">disabled</button>
    </li>
    <li>
      <button nk-button  [disabled]="true">
        <i class="iconfont icon-duihao"></i><span>icon-disabled</span>
      </button>
    </li>
  </ul>
</section>

