<aside>
  <div class="ky-logo">NG-KYLIN</div>
  <ul class="menu">
    <li class="menuitem-one"><span>General<i class="iconfont icon-i-arrow-copy"></i></span></li>
    <li class="menuitem-one">
      <ul>
        <li class="menuitem-two"><a href="#">Button 按钮</a></li>
        <li class="menuitem-two"><a href="#">Icon 按钮</a></li>
      </ul>
    </li>
    <li class="menuitem-one"><span>Layout<i class="iconfont icon-i-arrow-copy"></i></span></li>
    <li class="menuitem-one">
      <ul>
        <li class="menuitem-two"><a href="#">Grid 栅格</a></li>
        <li class="menuitem-two"><a href="#">Layout 布局</a></li>
      </ul>
    </li>
    <li class="menuitem-one"><span>Navigation<i class="iconfont icon-i-arrow-copy"></i></span></li>
    <li class="menuitem-one">
      <ul>
        <li class="menuitem-two"><a href="#">Breadcrumb 面包屑</a></li>
        <li class="menuitem-two"><a href="#">Dropdown 下拉菜单</a></li>
        <li class="menuitem-two"><a href="#">Menu 菜单</a></li>
        <li class="menuitem-two"><a href="#">Pagination 分页</a></li>
      </ul>
    </li>
    <li class="menuitem-one"><span>Data Entry<i class="iconfont icon-i-arrow-copy"></i></span></li>
    <li class="menuitem-one">
      <ul>
        <li class="menuitem-two"><a href="#">Cascader 级联菜单</a></li>
        <li class="menuitem-two"><a href="#">Checkbox 多选框</a></li>
        <li class="menuitem-two"><a href="#">DatePicker 日期选择框</a></li>
        <li class="menuitem-two"><a href="#">Form 表单</a></li>
        <li class="menuitem-two"><a href="#">Input 文本输入框</a></li>
        <li class="menuitem-two"><a href="#">Radio 单选框</a></li>
        <li class="menuitem-two"><a href="#">Select 下拉选择框</a></li>
        <li class="menuitem-two"><a href="#">Switch 开关</a></li>
      </ul>
    </li>
  </ul>
</aside>
