@import '../styles/default.scss';

$widgetPrefix: 'btn';
$prefix: #{$mainPrefix}-#{$widgetPrefix};
$primary-btn: #{$prefix}-primary;
$default-btn: #{$prefix}-default;
$danger-btn: #{$prefix}-danger;
$dashed-btn: #{$prefix}-dashed;

$large-btn: #{$prefix}-large;
$default-btn: #{$prefix}-defalut;
$small-btn: #{$prefix}-small;
$circle-btn: #{$prefix}-circle;
.#{$prefix}, .#{$default-btn} {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  padding: 10px 15px;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border-color: #d9d9d9;
  span {
    margin-left: .5em;
  }
  &.#{$circle-btn}{
    width: 36px;
    height: 36px;
  }
}

.#{$primary-btn} {
  color: $primary-text-color;
  background-color: nth($primary-background-color, 1);
  border-color: nth($primary-border-color, 1);
  &:focus, &:hover {
    color: $primary-text-color;
    background-color: nth($primary-background-color, 2);
    border-color: nth($primary-border-color, 2);
    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
  }
}

.#{$danger-btn} {
  color: nth($danger-text-color, 1);
  background-color: nth($danger-background-color, 1);
  border-color: nth($danger-border-color, 1);
  &:focus, &:hover {
    color: nth($danger-text-color, 2);
    background-color: nth($danger-background-color, 2);
    border-color: nth($danger-border-color, 2);
    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
  }
}

.#{$dashed-btn} {
  border-style: dashed;
  &:focus, &:hover {
    color: #108ee9;
    background-color: #fff;
    border-color: #108ee9;
    box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
  }
}

button[disabled], button[disabled]:focus, button[disabled]:hover {
  background-color: #f7f7f7;
  border-color: #d9d9d9;
  cursor: not-allowed;
  color: #d5d4d4;
  box-shadow: none;
}

.#{$large-btn} {
  font-size: 16px;
  padding: 12px 18px;
  &.#{$circle-btn}{
    width: 40px;
    height: 40px;
    i{
      font-size: 18px;
    }
  }
}

.#{$small-btn} {
  font-size: 12px;
  padding: 8px 12px;
  &.#{$circle-btn}{
    width: 32px;
    height: 32px;
    i{
      font-size: 14px;
    }
  }
}

.#{$circle-btn} {
  border-radius: 50%;
  padding: 0;
}
